In [2]:
# import sklearn as sk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import gc
import traceback

<h3>데이터 불러오기. - 주의. 데이터 매우 큼. 600MB 이상의 csv 파일임.</h3>

In [2]:
df = pd.read_csv("nubija_15-16.csv", sep=',', encoding='EUC-KR')

In [ ]:
chr(0xc0) # utf-8 인코딩은 오류남.

'À'

In [4]:
df.head()

   Unnamed: 0  자전거번호  출발터미널       출발일  출발시간  도착터미널       도착일   도착시간
0           1   5322    180  20150101     0    180  20150101     19
1           2   6844     94  20150101    10    144  20150101   1435
2           3   5475    180  20150101    35    107  20150101    345
3           4   6347     28  20150101    36    121  20150101  91100
4           5   7416      9  20150101    41     60  20150101   1109

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11718608 entries, 0 to 11718607
Data columns (total 8 columns):
Unnamed: 0    int64
자전거번호         int64
출발터미널         int64
출발일           int64
출발시간          int64
도착터미널         int64
도착일           int64
도착시간          int64
dtypes: int64(8)
memory usage: 715.2 MB

<h3>'unnamed: 0' (index) 컬럼 제거하고 column명 영어로 변경</h3>

In [6]:
df = df.drop('Unnamed: 0', axis=1)

In [7]:
col_kor2eng = {"자전거번호":"id", "출발터미널":"dept_terminal", "출발일":"dept_date", "출발시간":"dept_time", "도착터미널":"arr_terminal", "도착일":"arr_date", "도착시간":"arr_time" }

In [8]:
df.rename(columns=col_kor2eng, inplace=True)

<h3>todatetime하기 전에 int64인 날짜, 시간 zero fill하고 str으로 바꿈. </h3>
<h3>bike id와 terminal id도 str으로 바꿔줌.</h3>

In [9]:
print(str(91100).zfill(6))
type(str(91100).zfill(6))

091100

str

In [10]:
df.head()

     id  dept_terminal  dept_date  dept_time  arr_terminal  arr_date  arr_time
0  5322            180   20150101          0           180  20150101        19
1  6844             94   20150101         10           144  20150101      1435
2  5475            180   20150101         35           107  20150101       345
3  6347             28   20150101         36           121  20150101     91100
4  7416              9   20150101         41            60  20150101      1109

In [11]:
df["id"] = df["id"].astype(str)
df["dept_terminal"] = df["dept_terminal"].astype(str)
df["arr_terminal"] = df["arr_terminal"].astype(str)

In [12]:
# HHMMSS를 나타내는 6자리 값이어야 하는데, int면 그냥 0103 이런 식으로 존재하므로 "000103" 이런 형식으로 고쳐줌. 
df["dept_date"] = df["dept_date"].astype(str).apply(lambda x: x.zfill(6))  
df["dept_time"] = df["dept_time"].astype(str).apply(lambda x: x.zfill(6))
df["arr_date"] = df["arr_date"].astype(str).apply(lambda x: x.zfill(6))
df["arr_time"] = df["arr_time"].astype(str).apply(lambda x: x.zfill(6))

In [13]:
df.tail(50)

,id,dept_terminal,dept_date,dept_time,arr_terminal,arr_date,arr_time
11718558,6222,21,20161231,234732,244,20170101,003611
11718559,7880,62,20161231,234817,130,20161231,235412
11718560,6185,140,20161231,234827,182,20161231,235832
11718561,7870,173,20161231,234842,174,20161231,235426
11718562,8445,167,20161231,234906,189,20161231,235220
11718563,5580,56,20161231,234910,40,20170101,000330
11718564,8459,54,20161231,234951,136,20161231,235920
11718565,5362,62,20161231,234952,64,20161231,235909
11718566,7546,155,20161231,234953,42,20161231,235928
11718567,5573,17,20161231,234955,277,20170101,002740
11718568,8093,124,20161231,235008,42,20161231,235758
11718569,5130,30,20161231,235021,39,20170101,000248
11718570,7597,122,20161231,235021,122,20161231,235038
11718571,6959,24,20161231,235027,122,20170101,000135
11718572,6208,15,20161231,235031,55,20161231,235834
11718573,5909,122,20161231,235049,88,20161231,235524
11718574,5440,173,20161231,235053,170,20170101,000853
11718575,7527,163,20161231,235057,41,20161231,235626
11718576,5224,25,20161231,235105,27,20170101,000739
11718577,7632,164,20161231,235113,80,20161231,235326
11718578,7946,99,20161231,235117,94,20161231,235939
11718579,8590,93,20161231,235120,23,20170101,000353
11718580,6477,122,20161231,235134,88,20161231,235525
11718581,7328,151,20161231,235205,122,20170101,013008
11718582,5802,71,20161231,235215,41,20170101,001648
11718583,6907,163,20161231,235219,151,20170101,000150
11718584,5644,197,20161231,235221,202,20161231,235603
11718585,7552,173,20161231,235253,216,20170101,001526
11718586,6860,80,20161231,235309,144,20170101,000503
11718587,7432,163,20161231,235312,61,20161231,235821
11718588,5369,70,20161231,235319,78,20170101,000750
11718589,6379,163,20161231,235323,61,20161231,235757
11718590,8435,200,20161231,235324,200,20161231,235328
11718591,8435,200,20161231,235329,195,20170101,001330
11718592,8673,124,20161231,235400,42,20170101,000219
11718593,8007,135,20161231,235424,70,20161231,235702
11718594,6324,284,20161231,235431,284,20161231,235432
11718595,5172,96,20161231,235523,123,20170101,011358
11718596,7362,173,20161231,235551,174,20161231,235956
11718597,8334,93,20161231,235551,42,20170101,000635
11718598,8209,40,20161231,235609,56,20170101,000245
11718599,5081,284,20161231,235723,200,20170101,000638
11718600,5314,42,20161231,235757,42,20170101,004006
11718601,7987,154,20161231,235813,27,20170101,000046
11718602,8596,42,20161231,235813,122,20170101,000436
11718603,5766,125,20161231,235837,123,20170101,001931
11718604,5519,199,20161231,235840,248,20170101,011311
11718605,5161,21,20161231,235843,21,20161231,235847
11718606,5161,21,20161231,235849,22,20170101,121142
11718607,5015,22,20161231,235916,143,20170101,001121

In [14]:
df["dept_time"] = df["dept_date"]+df["dept_time"]
df["arr_time"] = df["arr_date"]+df["arr_time"]

In [15]:
df['dept_time'] = pd.to_datetime(df['dept_time'], format="%Y%m%d%H%M%S", errors = 'ignore')
df['arr_time'] = pd.to_datetime(df['arr_time'], format="%Y%m%d%H%M%S", errors = 'ignore')

In [16]:
df = df.drop(["dept_date", "arr_date"], axis=1)

,id,dept_terminal,dept_time,arr_terminal,arr_time
0,5322,180,2015-01-01 00:00:00,180,2015-01-01 00:00:19
1,6844,94,2015-01-01 00:00:10,144,2015-01-01 00:14:35
2,5475,180,2015-01-01 00:00:35,107,2015-01-01 00:03:45
3,6347,28,2015-01-01 00:00:36,121,2015-01-01 09:11:00
4,7416,9,2015-01-01 00:00:41,60,2015-01-01 00:11:09
5,7282,148,2015-01-01 00:00:47,121,2015-01-01 00:19:10
6,7978,21,2015-01-01 00:00:52,59,2015-01-01 00:16:04
7,6777,28,2015-01-01 00:00:53,155,2015-01-01 00:05:53
8,7389,11,2015-01-01 00:00:55,27,2015-01-01 00:11:14
9,7115,222,2015-01-01 00:01:12,218,2015-01-01 00:10:24
10,7226,136,2015-01-01 00:01:14,37,2015-01-01 00:04:24
11,6496,9,2015-01-01 00:01:34,60,2015-01-01 00:10:50
12,5550,57,2015-01-01 00:01:53,57,2015-01-01 00:08:57
13,5133,96,2015-01-01 00:02:09,125,2015-01-01 00:06:15
14,7939,48,2015-01-01 00:02:16,149,2015-01-01 00:59:07
15,6927,15,2015-01-01 00:02:20,115,2015-01-01 00:07:18
16,7864,61,2015-01-01 00:03:07,61,2015-01-01 00:03:13
17,7380,61,2015-01-01 00:03:25,22,2015-01-01 00:18:47
18,6202,58,2015-01-01 00:03:29,33,2015-01-01 00:08:29
19,5201,73,2015-01-01 00:03:44,73,2015-01-01 00:03:55
20,6914,164,2015-01-01 00:04:06,89,2015-01-01 00:14:35
21,8018,115,2015-01-01 00:04:10,16,2015-01-01 00:09:44
22,6752,73,2015-01-01 00:04:15,21,2015-01-01 00:11:14
23,7144,100,2015-01-01 00:04:15,148,2015-01-01 00:22:02
24,7632,133,2015-01-01 00:04:36,241,2015-01-01 00:26:12
25,7316,151,2015-01-01 00:04:42,53,2015-01-01 00:15:05
26,7913,35,2015-01-01 00:04:53,114,2015-01-01 00:16:46
27,5496,58,2015-01-01 00:05:22,60,2015-01-01 00:13:29
28,7451,255,2015-01-01 00:05:50,157,2015-01-01 00:17:02
29,5271,110,2015-01-01 00:05:52,98,2015-01-01 00:10:15
...,...,...,...,...,...
11718578,7946,99,2016-12-31 23:51:17,94,2016-12-31 23:59:39
11718579,8590,93,2016-12-31 23:51:20,23,2017-01-01 00:03:53
11718580,6477,122,2016-12-31 23:51:34,88,2016-12-31 23:55:25
11718581,7328,151,2016-12-31 23:52:05,122,2017-01-01 01:30:08
11718582,5802,71,2016-12-31 23:52:15,41,2017-01-01 00:16:48
11718583,6907,163,2016-12-31 23:52:19,151,2017-01-01 00:01:50
11718584,5644,197,2016-12-31 23:52:21,202,2016-12-31 23:56:03
11718585,7552,173,2016-12-31 23:52:53,216,2017-01-01 00:15:26
11718586,6860,80,2016-12-31 23:53:09,144,2017-01-01 00:05:03
11718587,7432,163,2016-12-31 23:53:12,61,2016-12-31 23:58:21
11718588,5369,70,2016-12-31 23:53:19,78,2017-01-01 00:07:50
11718589,6379,163,2016-12-31 23:53:23,61,2016-12-31 23:57:57
11718590,8435,200,2016-12-31 23:53:24,200,2016-12-31 23:53:28
11718591,8435,200,2016-12-31 23:53:29,195,2017-01-01 00:13:30
11718592,8673,124,2016-12-31 23:54:00,42,2017-01-01 00:02:19
11718593,8007,135,2016-12-31 23:54:24,70,2016-12-31 23:57:02
11718594,6324,284,2016-12-31 23:54:31,284,2016-12-31 23:54:32
11718595,5172,96,2016-12-31 23:55:23,123,2017-01-01 01:13:58
11718596,7362,173,2016-12-31 23:55:51,174,2016-12-31 23:59:56
11718597,8334,93,2016-12-31 23:55:51,42,2017-01-01 00:06:35
11718598,8209,40,2016-12-31 23:56:09,56,2017-01-01 00:02:45
11718599,5081,284,2016-12-31 23:57:23,200,2017-01-01 00:06:38
11718600,5314,42,2016-12-31 23:57:57,42,2017-01-01 00:40:06
11718601,7987,154,2016-12-31 23:58:13,27,2017-01-01 00:00:46
11718602,8596,42,2016-12-31 23:58:13,122,2017-01-01 00:04:36
11718603,5766,125,2016-12-31 23:58:37,123,2017-01-01 00:19:31
11718604,5519,199,2016-12-31 23:58:40,248,2017-01-01 01:13:11
11718605,5161,21,2016-12-31 23:58:43,21,2016-12-31 23:58:47
11718606,5161,21,2016-12-31 23:58:49,22,2017-01-01 12:11:42
11718607,5015,22,2016-12-31 23:59:16,143,2017-01-01 00:11:21

<h3>여기서 잠깐 EDA</h3>

In [28]:
len(df.id.unique()) # 총 자전거의 갯수

3872

In [29]:
len(df.dept_terminal.unique()) # 출발지 터미널 갯수

266

In [30]:
len(df.arr_terminal.unique()) # 도착지 터미널 갯수

267

<h3>usedtime = arr_time - dept_time 변수 생성 (time delta) & 여태까지 한거 저장.(dtype 유지를 위해서 pickle로 저장)</h3>

In [17]:
df["usedtime"] = (df.arr_time - df.dept_time ).astype("timedelta64[ns]")

In [19]:
df.head(100)

,id,dept_terminal,dept_date,dept_time,arr_terminal,arr_date,arr_time,usedtime
0,5322,180,20150101,2015-01-01 00:00:00,180,20150101,2015-01-01 00:00:19,00:00:19
1,6844,94,20150101,2015-01-01 00:00:10,144,20150101,2015-01-01 00:14:35,00:14:25
2,5475,180,20150101,2015-01-01 00:00:35,107,20150101,2015-01-01 00:03:45,00:03:10
3,6347,28,20150101,2015-01-01 00:00:36,121,20150101,2015-01-01 09:11:00,09:10:24
4,7416,9,20150101,2015-01-01 00:00:41,60,20150101,2015-01-01 00:11:09,00:10:28
5,7282,148,20150101,2015-01-01 00:00:47,121,20150101,2015-01-01 00:19:10,00:18:23
6,7978,21,20150101,2015-01-01 00:00:52,59,20150101,2015-01-01 00:16:04,00:15:12
7,6777,28,20150101,2015-01-01 00:00:53,155,20150101,2015-01-01 00:05:53,00:05:00
8,7389,11,20150101,2015-01-01 00:00:55,27,20150101,2015-01-01 00:11:14,00:10:19
9,7115,222,20150101,2015-01-01 00:01:12,218,20150101,2015-01-01 00:10:24,00:09:12
10,7226,136,20150101,2015-01-01 00:01:14,37,20150101,2015-01-01 00:04:24,00:03:10
11,6496,9,20150101,2015-01-01 00:01:34,60,20150101,2015-01-01 00:10:50,00:09:16
12,5550,57,20150101,2015-01-01 00:01:53,57,20150101,2015-01-01 00:08:57,00:07:04
13,5133,96,20150101,2015-01-01 00:02:09,125,20150101,2015-01-01 00:06:15,00:04:06
14,7939,48,20150101,2015-01-01 00:02:16,149,20150101,2015-01-01 00:59:07,00:56:51
15,6927,15,20150101,2015-01-01 00:02:20,115,20150101,2015-01-01 00:07:18,00:04:58
16,7864,61,20150101,2015-01-01 00:03:07,61,20150101,2015-01-01 00:03:13,00:00:06
17,7380,61,20150101,2015-01-01 00:03:25,22,20150101,2015-01-01 00:18:47,00:15:22
18,6202,58,20150101,2015-01-01 00:03:29,33,20150101,2015-01-01 00:08:29,00:05:00
19,5201,73,20150101,2015-01-01 00:03:44,73,20150101,2015-01-01 00:03:55,00:00:11
20,6914,164,20150101,2015-01-01 00:04:06,89,20150101,2015-01-01 00:14:35,00:10:29
21,8018,115,20150101,2015-01-01 00:04:10,16,20150101,2015-01-01 00:09:44,00:05:34
22,6752,73,20150101,2015-01-01 00:04:15,21,20150101,2015-01-01 00:11:14,00:06:59
23,7144,100,20150101,2015-01-01 00:04:15,148,20150101,2015-01-01 00:22:02,00:17:47
24,7632,133,20150101,2015-01-01 00:04:36,241,20150101,2015-01-01 00:26:12,00:21:36
25,7316,151,20150101,2015-01-01 00:04:42,53,20150101,2015-01-01 00:15:05,00:10:23
26,7913,35,20150101,2015-01-01 00:04:53,114,20150101,2015-01-01 00:16:46,00:11:53
27,5496,58,20150101,2015-01-01 00:05:22,60,20150101,2015-01-01 00:13:29,00:08:07
28,7451,255,20150101,2015-01-01 00:05:50,157,20150101,2015-01-01 00:17:02,00:11:12
29,5271,110,20150101,2015-01-01 00:05:52,98,20150101,2015-01-01 00:10:15,00:04:23
...,...,...,...,...,...,...,...,...
70,5620,59,20150101,2015-01-01 00:14:52,59,20150101,2015-01-01 00:14:56,00:00:04
71,6012,12,20150101,2015-01-01 00:15:06,53,20150101,2015-01-01 00:43:25,00:28:19
72,8007,150,20150101,2015-01-01 00:15:20,73,20150101,2015-01-01 00:36:15,00:20:55
73,5238,159,20150101,2015-01-01 00:15:41,28,20150101,2015-01-01 00:20:25,00:04:44
74,6803,59,20150101,2015-01-01 00:15:46,77,20150101,2015-01-01 00:26:52,00:11:06
75,5620,59,20150101,2015-01-01 00:15:50,18,20150101,2015-01-01 00:39:01,00:23:11
76,7924,139,20150101,2015-01-01 00:15:58,260,20150101,2015-01-01 00:39:14,00:23:16
77,7964,54,20150101,2015-01-01 00:15:59,140,20150101,2015-01-01 00:21:20,00:05:21
78,8181,134,20150101,2015-01-01 00:16:01,140,20150101,2015-01-01 00:25:47,00:09:46
79,7149,204,20150101,2015-01-01 00:16:06,238,20150101,2015-01-01 00:24:54,00:08:48
80,6107,59,20150101,2015-01-01 00:16:08,18,20150101,2015-01-01 00:39:04,00:22:56
81,7310,248,20150101,2015-01-01 00:16:09,191,20150101,2015-01-01 00:20:25,00:04:16
82,7921,59,20150101,2015-01-01 00:16:31,60,20150101,2015-01-01 00:34:21,00:17:50
83,8129,157,20150101,2015-01-01 00:16:49,29,20150101,2015-01-01 00:22:00,00:05:11
84,5444,28,20150101,2015-01-01 00:16:57,28,20150101,2015-01-01 00:19:11,00:02:14
85,5089,95,20150101,2015-01-01 00:17:01,157,20150101,2015-01-01 00:22:52,00:05:51
86,7907,192,20150101,2015-01-01 00:17:37,248,20150101,2015-01-01 00:34:56,00:17:19
87,6582,21,20150101,2015-01-01 00:18:12,33,20150101,2015-01-01 07:12:17,06:54:05
88,6313,141,20150101,2015-01-01 00:18:29,21,20150101,2015-01-01 00:26:17,00:07:48
89,7835,10,20150101,2015-01-01 00:18:54,97,20150101,2015-01-01 00:46:20,00:27:26
90,8044,111,20150101,2015-01-01 00:19:53,62,20150101,2015-01-01 00:25:24,00:05:31
91,7189,42,20150101,2015-01-01 00:19:55,42,20150101,2015-01-01 00:20:00,00:00:05
92,5735,53,20150101,2015-01-01 00:20:05,93,20150101,2015-01-01 00:33:32,00:13:27
93,7978,59,20150101,2015-01-01 00:20:33,28,20150101,2015-01-01 01:00:30,00:39:57
94,7878,59,20150101,2015-01-01 00:20:44,74,20150101,2015-01-01 00:49:00,00:28:16
95,7269,41,20150101,2015-01-01 00:20:49,30,20150101,2015-01-01 00:23:17,00:02:28
96,7401,93,20150101,2015-01-01 00:20:50,53,20150101,2015-01-01 00:30:21,00:09:31
97,7850,22,20150101,2015-01-01 00:20:55,9,20150101,2015-01-01 00:26:11,00:05:16
98,6380,10,20150101,2015-01-01 00:20:58,53,20150101,2015-01-01 00:27:23,00:06:25
99,5169,9,20150101,2015-01-01 00:21:07,60,20150101,2015-01-01 00:24:13,00:03:06

In [20]:
df.to_pickle('nubija_15-16_pickled.p')

In [27]:
gc.collect()

14

<h1 style='color:red'>저장한 파일 불러와서 작업</h1>

<h3>하지만 메모리를 너무 많이 먹어서 오류남. object type column이 주로 메모리를 소비하므로 최적화를 위해 uint16으로 바꿔주고 .pickle로 다시 저장. 그 결과 메모리 소비량이 반 이상 줄음. (아래 블록은 그냥 기록을 위해 남김.) </h3>

In [9]:
df = pd.read_pickle('nubija_15-16_pickled.p')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11718608 entries, 0 to 11718607
Data columns (total 6 columns):
id               uint16
dept_terminal    uint16
dept_time        datetime64[ns]
arr_terminal     uint16
arr_time         datetime64[ns]
usedtime         timedelta64[ns]
dtypes: datetime64[ns](2), timedelta64[ns](1), uint16(3)
memory usage: 335.3 MB

In [11]:
df["id"] = df["id"].astype('uint16')

In [12]:
df["dept_terminal"] = df["dept_terminal"].astype('uint16')
df["arr_terminal"] = df["arr_terminal"].astype('uint16')

In [14]:
df = df.drop(["dept_date", "arr_date"], axis=1)

In [18]:
df.to_pickle('nubija_15-16_pickled.p')

<h3>터미널 간 이동 거리 distance 컬럼을 추가하고 & avg_speed = distance / usedtime 컬럼도 추가함. </h3>
<h3>추후 시속을 구하기 위해 usedtime_hour도 생성 (dtype: float)</h3>

In [3]:
with open('distance_dic_pickle.p', 'rb') as fp:
    distance_dic = pickle.load(fp)

In [21]:
df['usedtime_hour'] = df['usedtime'].apply(lambda x: (x.seconds)/3600)

In [22]:
df.head(10)

,id,dept_terminal,dept_date,dept_time,arr_terminal,arr_date,arr_time,usedtime,usedtime_hour
0,5322,180,20150101,2015-01-01 00:00:00,180,20150101,2015-01-01 00:00:19,00:00:19,0.005278
1,6844,94,20150101,2015-01-01 00:00:10,144,20150101,2015-01-01 00:14:35,00:14:25,0.240278
2,5475,180,20150101,2015-01-01 00:00:35,107,20150101,2015-01-01 00:03:45,00:03:10,0.052778
3,6347,28,20150101,2015-01-01 00:00:36,121,20150101,2015-01-01 09:11:00,09:10:24,9.173333
4,7416,9,20150101,2015-01-01 00:00:41,60,20150101,2015-01-01 00:11:09,00:10:28,0.174444
5,7282,148,20150101,2015-01-01 00:00:47,121,20150101,2015-01-01 00:19:10,00:18:23,0.306389
6,7978,21,20150101,2015-01-01 00:00:52,59,20150101,2015-01-01 00:16:04,00:15:12,0.253333
7,6777,28,20150101,2015-01-01 00:00:53,155,20150101,2015-01-01 00:05:53,00:05:00,0.083333
8,7389,11,20150101,2015-01-01 00:00:55,27,20150101,2015-01-01 00:11:14,00:10:19,0.171944
9,7115,222,20150101,2015-01-01 00:01:12,218,20150101,2015-01-01 00:10:24,00:09:12,0.153333

In [ ]:
df.info()

In [ ]:
##아래 작업이 너무 많이 걸려서 progress bar를 넣어서 관찰하기로 함. 

def log_progress(sequence, every=None, size=None, name='Items'):
    from ipywidgets import IntProgress, HTML, VBox
    from IPython.display import display

    is_iterator = False
    if size is None:
        try:
            size = len(sequence)
        except TypeError:
            is_iterator = True
    if size is not None:
        if every is None:
            if size <= 200:
                every = 1
            else:
                every = int(size / 200)     # every 0.5%
    else:
        assert every is not None, 'sequence is iterator, set every'

    if is_iterator:
        progress = IntProgress(min=0, max=1, value=1)
        progress.bar_style = 'info'
    else:
        progress = IntProgress(min=0, max=size, value=0)
    label = HTML()
    box = VBox(children=[label, progress])
    display(box)

    index = 0
    try:
        for index, record in enumerate(sequence, 1):
            if index == 1 or index % every == 0:
                if is_iterator:
                    label.value = '{name}: {index} / ?'.format(
                        name=name,
                        index=index
                    )
                else:
                    progress.value = index
                    label.value = u'{name}: {index} / {size}'.format(
                        name=name,
                        index=index,
                        size=size
                    )
            yield record
    except:
        progress.bar_style = 'danger'
        raise
    else:
        progress.bar_style = 'success'
        progress.value = index
        label.value = "{name}: {index}".format(
            name=name,
            index=str(index or '?')
        )

In [59]:
## distance 를 distance_dic에서 검색해 입력해준다. 
df['distance'] = 0

for index, row in log_progress(df.iterrows(), every=10):
    
    if row['dept_terminal'] == row['arr_terminal']: # 출발지와 도착지가 같을 경우 0으로 나오므로, (이용시간 * 15km/h) 로 imputation 해준다.
        df.loc[index, 'distance'] = row['usedtime_hour']*15

        continue
    
    try: # distance_dic에서 검색될 경우 그 거리를 입력해준다. 
        df.loc[index, 'distance'] = distance_dic[(min(int(row['dept_terminal']), int(row['arr_terminal'])), max(int(row['dept_terminal']), int(row['arr_terminal'])))]

    except KeyError: # distance_dic에 없을 경우 -1로 바꾸고 추후 없애준다. 
        df.loc[index, 'distance'] = -1

        pass
        
    except Exception as e: # 에러 나면 에러 메세지와 에러난 항목을 print 한다. 
        traceback.print_exc()
        print("error: ", e)
        print(df.loc[index, 'distance'])
        pass

VBox(children=(HTML(value=''), IntProgress(value=1, bar_style='info', max=1)))

MemoryError:

In [47]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
id               10 non-null object
dept_terminal    10 non-null object
dept_date        10 non-null object
dept_time        10 non-null datetime64[ns]
arr_terminal     10 non-null object
arr_date         10 non-null object
arr_time         10 non-null datetime64[ns]
usedtime         10 non-null timedelta64[ns]
usedtime_hour    10 non-null float64
distance         10 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(5), timedelta64[ns](1)
memory usage: 880.0+ bytes

In [53]:
test

,id,dept_terminal,dept_date,dept_time,arr_terminal,arr_date,arr_time,usedtime,usedtime_hour,distance
0,5322,180,20150101,2015-01-01 00:00:00,180,20150101,2015-01-01 00:00:19,00:00:19,0.005278,0.079167
1,6844,94,20150101,2015-01-01 00:00:10,144,20150101,2015-01-01 00:14:35,00:14:25,0.240278,94.910000
2,5475,180,20150101,2015-01-01 00:00:35,107,20150101,2015-01-01 00:03:45,00:03:10,0.052778,49.290000
3,6347,28,20150101,2015-01-01 00:00:36,121,20150101,2015-01-01 09:11:00,09:10:24,9.173333,129.040000
4,7416,9,20150101,2015-01-01 00:00:41,60,20150101,2015-01-01 00:11:09,00:10:28,0.174444,26.010000
5,7282,148,20150101,2015-01-01 00:00:47,121,20150101,2015-01-01 00:19:10,00:18:23,0.306389,96.830000
6,7978,21,20150101,2015-01-01 00:00:52,59,20150101,2015-01-01 00:16:04,00:15:12,0.253333,82.400000
7,6777,28,20150101,2015-01-01 00:00:53,155,20150101,2015-01-01 00:05:53,00:05:00,0.083333,48.280000
8,7389,11,20150101,2015-01-01 00:00:55,27,20150101,2015-01-01 00:11:14,00:10:19,0.171944,57.430000
9,7115,222,20150101,2015-01-01 00:01:12,218,20150101,2015-01-01 00:10:24,00:09:12,0.153333,-1.000000

In [42]:
for _, row in test.iterrows():
    
    if row['dept_terminal']==row['arr_terminal']:
        continue

    try:
        print((min(int(row['dept_terminal']), int(row['arr_terminal'])), max(int(row['dept_terminal']), int(row['arr_terminal']))))
        print(distance_dic[(min(int(row['dept_terminal']), int(row['arr_terminal'])), max(int(row['dept_terminal']), int(row['arr_terminal'])))])
    except KeyError:
        # row['distance'] = -1
        pass
        
    
    except Exception as e:
        traceback.print_exc()
        print("error: ", e)
        pass

(94, 144)
94.91
(107, 180)
49.29
(28, 121)
129.04
(9, 60)
26.01
(121, 148)
96.83
(21, 59)
82.4
(28, 155)
48.28
(11, 27)
57.43
(218, 222)

In [23]:
test = df.head(10).copy(deep=True)

In [36]:
#실수해서 datetime --> string으로 다시 바꿔야 할 때 코드. 

for i in ['dept_time', 'arr_time']:
    df[i] = df[i].apply(lambda x: x.strftime("%y%m%d"))

In [41]:
# 실수해서 str타입 변수 뒤에 붙은거 뜯어낼 때 쓰는 코드. 

df["dept_time"] = df['dept_time'].map(lambda x: x.rstrip('dept_time'))
df['arr_time'] = df['arr_time'].map(lambda x: x.rstrip('arr_time'))