In [4]:
# import sklearn as sk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

<h3>데이터 불러오기. - 주의. 데이터 매우 큼. 600MB 이상의 csv 파일임.</h3>

In [9]:
df = pd.read_csv("nubija_15-16.csv", sep=',', encoding='EUC-KR')

In [10]:
chr(0xc0) # utf-8 인코딩은 오류남.

'À'

In [11]:
df.head()

   Unnamed: 0  자전거번호  출발터미널       출발일  출발시간  도착터미널       도착일   도착시간
0           1   5322    180  20150101     0    180  20150101     19
1           2   6844     94  20150101    10    144  20150101   1435
2           3   5475    180  20150101    35    107  20150101    345
3           4   6347     28  20150101    36    121  20150101  91100
4           5   7416      9  20150101    41     60  20150101   1109

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11718608 entries, 0 to 11718607
Data columns (total 8 columns):
Unnamed: 0    int64
자전거번호         int64
출발터미널         int64
출발일           int64
출발시간          int64
도착터미널         int64
도착일           int64
도착시간          int64
dtypes: int64(8)
memory usage: 715.2 MB

<h3>'unnamed: 0' (index) 컬럼 제거하고 column명 영어로 변경</h3>

In [13]:
df = df.drop('Unnamed: 0', axis=1)

In [14]:
col_kor2eng = {"자전거번호":"id", "출발터미널":"dept_terminal", "출발일":"dept_date", "출발시간":"dept_time", "도착터미널":"arr_terminal", "도착일":"arr_date", "도착시간":"arr_time" }

In [15]:
df.rename(columns=col_kor2eng, inplace=True)

<h3>todatetime하기 전에 int64인 날짜, 시간 zero fill하고 str으로 바꿈. </h3>
<h3>bike id와 terminal id도 str으로 바꿔줌.</h3>

In [16]:
print(str(91100).zfill(6))
type(str(91100).zfill(6))

091100

str

In [17]:
df.head()

     id  dept_terminal  dept_date  dept_time  arr_terminal  arr_date  arr_time
0  5322            180   20150101          0           180  20150101        19
1  6844             94   20150101         10           144  20150101      1435
2  5475            180   20150101         35           107  20150101       345
3  6347             28   20150101         36           121  20150101     91100
4  7416              9   20150101         41            60  20150101      1109

In [18]:
df["id"] = df["id"].astype(str)
df["dept_terminal"] = df["dept_terminal"].astype(str)
df["arr_terminal"] = df["arr_terminal"].astype(str)

In [21]:
# HHMMSS를 나타내는 6자리 값이어야 하는데, int면 그냥 0103 이런 식으로 존재하므로 "000103" 이런 형식으로 고쳐줌. 
df["dept_date"] = df["dept_date"].astype(str).apply(lambda x: x.zfill(6))  
df["dept_time"] = df["dept_time"].astype(str).apply(lambda x: x.zfill(6))
df["arr_date"] = df["arr_date"].astype(str).apply(lambda x: x.zfill(6))
df["arr_time"] = df["arr_time"].astype(str).apply(lambda x: x.zfill(6))

MemoryError:

In [ ]:
df.tail(50)

In [14]:
df["dept_time"] = df["dept_date"]+df["dept_time"]
df["arr_time"] = df["arr_date"]+df["arr_time"]

In [15]:
df['dept_time'] = pd.to_datetime(df['dept_time'], format="%Y%m%d%H%M%S", errors = 'ignore')
df['arr_time'] = pd.to_datetime(df['arr_time'], format="%Y%m%d%H%M%S", errors = 'ignore')

In [16]:
df.drop(["dept_date", "arr_date"], axis=1)

,id,dept_terminal,dept_time,arr_terminal,arr_time
0,5322,180,2015-01-01 00:00:00,180,2015-01-01 00:00:19
1,6844,94,2015-01-01 00:00:10,144,2015-01-01 00:14:35
2,5475,180,2015-01-01 00:00:35,107,2015-01-01 00:03:45
3,6347,28,2015-01-01 00:00:36,121,2015-01-01 09:11:00
4,7416,9,2015-01-01 00:00:41,60,2015-01-01 00:11:09
5,7282,148,2015-01-01 00:00:47,121,2015-01-01 00:19:10
6,7978,21,2015-01-01 00:00:52,59,2015-01-01 00:16:04
7,6777,28,2015-01-01 00:00:53,155,2015-01-01 00:05:53
8,7389,11,2015-01-01 00:00:55,27,2015-01-01 00:11:14
9,7115,222,2015-01-01 00:01:12,218,2015-01-01 00:10:24
10,7226,136,2015-01-01 00:01:14,37,2015-01-01 00:04:24
11,6496,9,2015-01-01 00:01:34,60,2015-01-01 00:10:50
12,5550,57,2015-01-01 00:01:53,57,2015-01-01 00:08:57
13,5133,96,2015-01-01 00:02:09,125,2015-01-01 00:06:15
14,7939,48,2015-01-01 00:02:16,149,2015-01-01 00:59:07
15,6927,15,2015-01-01 00:02:20,115,2015-01-01 00:07:18
16,7864,61,2015-01-01 00:03:07,61,2015-01-01 00:03:13
17,7380,61,2015-01-01 00:03:25,22,2015-01-01 00:18:47
18,6202,58,2015-01-01 00:03:29,33,2015-01-01 00:08:29
19,5201,73,2015-01-01 00:03:44,73,2015-01-01 00:03:55
20,6914,164,2015-01-01 00:04:06,89,2015-01-01 00:14:35
21,8018,115,2015-01-01 00:04:10,16,2015-01-01 00:09:44
22,6752,73,2015-01-01 00:04:15,21,2015-01-01 00:11:14
23,7144,100,2015-01-01 00:04:15,148,2015-01-01 00:22:02
24,7632,133,2015-01-01 00:04:36,241,2015-01-01 00:26:12
25,7316,151,2015-01-01 00:04:42,53,2015-01-01 00:15:05
26,7913,35,2015-01-01 00:04:53,114,2015-01-01 00:16:46
27,5496,58,2015-01-01 00:05:22,60,2015-01-01 00:13:29
28,7451,255,2015-01-01 00:05:50,157,2015-01-01 00:17:02
29,5271,110,2015-01-01 00:05:52,98,2015-01-01 00:10:15
...,...,...,...,...,...
11718578,7946,99,2016-12-31 23:51:17,94,2016-12-31 23:59:39
11718579,8590,93,2016-12-31 23:51:20,23,2017-01-01 00:03:53
11718580,6477,122,2016-12-31 23:51:34,88,2016-12-31 23:55:25
11718581,7328,151,2016-12-31 23:52:05,122,2017-01-01 01:30:08
11718582,5802,71,2016-12-31 23:52:15,41,2017-01-01 00:16:48
11718583,6907,163,2016-12-31 23:52:19,151,2017-01-01 00:01:50
11718584,5644,197,2016-12-31 23:52:21,202,2016-12-31 23:56:03
11718585,7552,173,2016-12-31 23:52:53,216,2017-01-01 00:15:26
11718586,6860,80,2016-12-31 23:53:09,144,2017-01-01 00:05:03
11718587,7432,163,2016-12-31 23:53:12,61,2016-12-31 23:58:21
11718588,5369,70,2016-12-31 23:53:19,78,2017-01-01 00:07:50
11718589,6379,163,2016-12-31 23:53:23,61,2016-12-31 23:57:57
11718590,8435,200,2016-12-31 23:53:24,200,2016-12-31 23:53:28
11718591,8435,200,2016-12-31 23:53:29,195,2017-01-01 00:13:30
11718592,8673,124,2016-12-31 23:54:00,42,2017-01-01 00:02:19
11718593,8007,135,2016-12-31 23:54:24,70,2016-12-31 23:57:02
11718594,6324,284,2016-12-31 23:54:31,284,2016-12-31 23:54:32
11718595,5172,96,2016-12-31 23:55:23,123,2017-01-01 01:13:58
11718596,7362,173,2016-12-31 23:55:51,174,2016-12-31 23:59:56
11718597,8334,93,2016-12-31 23:55:51,42,2017-01-01 00:06:35
11718598,8209,40,2016-12-31 23:56:09,56,2017-01-01 00:02:45
11718599,5081,284,2016-12-31 23:57:23,200,2017-01-01 00:06:38
11718600,5314,42,2016-12-31 23:57:57,42,2017-01-01 00:40:06
11718601,7987,154,2016-12-31 23:58:13,27,2017-01-01 00:00:46
11718602,8596,42,2016-12-31 23:58:13,122,2017-01-01 00:04:36
11718603,5766,125,2016-12-31 23:58:37,123,2017-01-01 00:19:31
11718604,5519,199,2016-12-31 23:58:40,248,2017-01-01 01:13:11
11718605,5161,21,2016-12-31 23:58:43,21,2016-12-31 23:58:47
11718606,5161,21,2016-12-31 23:58:49,22,2017-01-01 12:11:42
11718607,5015,22,2016-12-31 23:59:16,143,2017-01-01 00:11:21

<h3>usedtime = arr_time - dept_time 변수 생성 (time delta) & 여태까지 한거 저장.</h3>

In [17]:
df["usedtime"] = (df.arr_time - df.dept_time ).astype("timedelta64[ns]")

In [18]:
df.to_csv("nubija_15-16_preprocessed.csv", sep=',', encoding='utf-8')

<h3>EDA</h3>

In [28]:
len(df.id.unique()) # 총 자전거의 갯수

3872

In [29]:
len(df.dept_terminal.unique()) # 출발지 터미널 갯수

266

In [30]:
len(df.arr_terminal.unique()) # 도착지 터미널 갯수

267

<h1 style='color:red'>저장한 파일 불러와서 작업</h1>

In [5]:
df = pd.read_csv("nubija_15-16_preprocessed.csv", sep=',')

<h3>터미널 간 이동 거리 distance 컬럼을 추가하고 & avg_speed = distance / usedtime 컬럼도 추가함. </h3>

In [6]:
with open('distance_dic_pickle.p', 'rb') as fp:
    distance_dic = pickle.load(fp)

In [8]:
df.head(100)

,Unnamed: 0,id,dept_terminal,dept_date,dept_time,arr_terminal,arr_date,arr_time,usedtime
0,0,5322,180,20150101,2015-01-01 00:00:00,180,20150101,2015-01-01 00:00:19,0 days 00:00:19.000000000
1,1,6844,94,20150101,2015-01-01 00:00:10,144,20150101,2015-01-01 00:14:35,0 days 00:14:25.000000000
2,2,5475,180,20150101,2015-01-01 00:00:35,107,20150101,2015-01-01 00:03:45,0 days 00:03:10.000000000
3,3,6347,28,20150101,2015-01-01 00:00:36,121,20150101,2015-01-01 09:11:00,0 days 09:10:24.000000000
4,4,7416,9,20150101,2015-01-01 00:00:41,60,20150101,2015-01-01 00:11:09,0 days 00:10:28.000000000
5,5,7282,148,20150101,2015-01-01 00:00:47,121,20150101,2015-01-01 00:19:10,0 days 00:18:23.000000000
6,6,7978,21,20150101,2015-01-01 00:00:52,59,20150101,2015-01-01 00:16:04,0 days 00:15:12.000000000
7,7,6777,28,20150101,2015-01-01 00:00:53,155,20150101,2015-01-01 00:05:53,0 days 00:05:00.000000000
8,8,7389,11,20150101,2015-01-01 00:00:55,27,20150101,2015-01-01 00:11:14,0 days 00:10:19.000000000
9,9,7115,222,20150101,2015-01-01 00:01:12,218,20150101,2015-01-01 00:10:24,0 days 00:09:12.000000000
10,10,7226,136,20150101,2015-01-01 00:01:14,37,20150101,2015-01-01 00:04:24,0 days 00:03:10.000000000
11,11,6496,9,20150101,2015-01-01 00:01:34,60,20150101,2015-01-01 00:10:50,0 days 00:09:16.000000000
12,12,5550,57,20150101,2015-01-01 00:01:53,57,20150101,2015-01-01 00:08:57,0 days 00:07:04.000000000
13,13,5133,96,20150101,2015-01-01 00:02:09,125,20150101,2015-01-01 00:06:15,0 days 00:04:06.000000000
14,14,7939,48,20150101,2015-01-01 00:02:16,149,20150101,2015-01-01 00:59:07,0 days 00:56:51.000000000
15,15,6927,15,20150101,2015-01-01 00:02:20,115,20150101,2015-01-01 00:07:18,0 days 00:04:58.000000000
16,16,7864,61,20150101,2015-01-01 00:03:07,61,20150101,2015-01-01 00:03:13,0 days 00:00:06.000000000
17,17,7380,61,20150101,2015-01-01 00:03:25,22,20150101,2015-01-01 00:18:47,0 days 00:15:22.000000000
18,18,6202,58,20150101,2015-01-01 00:03:29,33,20150101,2015-01-01 00:08:29,0 days 00:05:00.000000000
19,19,5201,73,20150101,2015-01-01 00:03:44,73,20150101,2015-01-01 00:03:55,0 days 00:00:11.000000000
20,20,6914,164,20150101,2015-01-01 00:04:06,89,20150101,2015-01-01 00:14:35,0 days 00:10:29.000000000
21,21,8018,115,20150101,2015-01-01 00:04:10,16,20150101,2015-01-01 00:09:44,0 days 00:05:34.000000000
22,22,6752,73,20150101,2015-01-01 00:04:15,21,20150101,2015-01-01 00:11:14,0 days 00:06:59.000000000
23,23,7144,100,20150101,2015-01-01 00:04:15,148,20150101,2015-01-01 00:22:02,0 days 00:17:47.000000000
24,24,7632,133,20150101,2015-01-01 00:04:36,241,20150101,2015-01-01 00:26:12,0 days 00:21:36.000000000
25,25,7316,151,20150101,2015-01-01 00:04:42,53,20150101,2015-01-01 00:15:05,0 days 00:10:23.000000000
26,26,7913,35,20150101,2015-01-01 00:04:53,114,20150101,2015-01-01 00:16:46,0 days 00:11:53.000000000
27,27,5496,58,20150101,2015-01-01 00:05:22,60,20150101,2015-01-01 00:13:29,0 days 00:08:07.000000000
28,28,7451,255,20150101,2015-01-01 00:05:50,157,20150101,2015-01-01 00:17:02,0 days 00:11:12.000000000
29,29,5271,110,20150101,2015-01-01 00:05:52,98,20150101,2015-01-01 00:10:15,0 days 00:04:23.000000000
...,...,...,...,...,...,...,...,...,...
70,70,5620,59,20150101,2015-01-01 00:14:52,59,20150101,2015-01-01 00:14:56,0 days 00:00:04.000000000
71,71,6012,12,20150101,2015-01-01 00:15:06,53,20150101,2015-01-01 00:43:25,0 days 00:28:19.000000000
72,72,8007,150,20150101,2015-01-01 00:15:20,73,20150101,2015-01-01 00:36:15,0 days 00:20:55.000000000
73,73,5238,159,20150101,2015-01-01 00:15:41,28,20150101,2015-01-01 00:20:25,0 days 00:04:44.000000000
74,74,6803,59,20150101,2015-01-01 00:15:46,77,20150101,2015-01-01 00:26:52,0 days 00:11:06.000000000
75,75,5620,59,20150101,2015-01-01 00:15:50,18,20150101,2015-01-01 00:39:01,0 days 00:23:11.000000000
76,76,7924,139,20150101,2015-01-01 00:15:58,260,20150101,2015-01-01 00:39:14,0 days 00:23:16.000000000
77,77,7964,54,20150101,2015-01-01 00:15:59,140,20150101,2015-01-01 00:21:20,0 days 00:05:21.000000000
78,78,8181,134,20150101,2015-01-01 00:16:01,140,20150101,2015-01-01 00:25:47,0 days 00:09:46.000000000
79,79,7149,204,20150101,2015-01-01 00:16:06,238,20150101,2015-01-01 00:24:54,0 days 00:08:48.000000000
80,80,6107,59,20150101,2015-01-01 00:16:08,18,20150101,2015-01-01 00:39:04,0 days 00:22:56.000000000
81,81,7310,248,20150101,2015-01-01 00:16:09,191,20150101,2015-01-01 00:20:25,0 days 00:04:16.000000000
82,82,7921,59,20150101,2015-01-01 00:16:31,60,20150101,2015-01-01 00:34:21,0 days 00:17:50.000000000
83,83,8129,157,20150101,2015-01-01 00:16:49,29,20150101,2015-01-01 00:22:00,0 days 00:05:11.000000000
84,84,5444,28,20150101,2015-01-01 00:16:57,28,20150101,2015-01-01 00:19:11,0 days 00:02:14.000000000
85,85,5089,95,20150101,2015-01-01 00:17:01,157,20150101,2015-01-01 00:22:52,0 days 00:05:51.000000000
86,86,7907,192,20150101,2015-01-01 00:17:37,248,20150101,2015-01-01 00:34:56,0 days 00:17:19.000000000
87,87,6582,21,20150101,2015-01-01 00:18:12,33,20150101,2015-01-01 07:12:17,0 days 06:54:05.000000000
88,88,6313,141,20150101,2015-01-01 00:18:29,21,20150101,2015-01-01 00:26:17,0 days 00:07:48.000000000
89,89,7835,10,20150101,2015-01-01 00:18:54,97,20150101,2015-01-01 00:46:20,0 days 00:27:26.000000000
90,90,8044,111,20150101,2015-01-01 00:19:53,62,20150101,2015-01-01 00:25:24,0 days 00:05:31.000000000
91,91,7189,42,20150101,2015-01-01 00:19:55,42,20150101,2015-01-01 00:20:00,0 days 00:00:05.000000000
92,92,5735,53,20150101,2015-01-01 00:20:05,93,20150101,2015-01-01 00:33:32,0 days 00:13:27.000000000
93,93,7978,59,20150101,2015-01-01 00:20:33,28,20150101,2015-01-01 01:00:30,0 days 00:39:57.000000000
94,94,7878,59,20150101,2015-01-01 00:20:44,74,20150101,2015-01-01 00:49:00,0 days 00:28:16.000000000
95,95,7269,41,20150101,2015-01-01 00:20:49,30,20150101,2015-01-01 00:23:17,0 days 00:02:28.000000000
96,96,7401,93,20150101,2015-01-01 00:20:50,53,20150101,2015-01-01 00:30:21,0 days 00:09:31.000000000
97,97,7850,22,20150101,2015-01-01 00:20:55,9,20150101,2015-01-01 00:26:11,0 days 00:05:16.000000000
98,98,6380,10,20150101,2015-01-01 00:20:58,53,20150101,2015-01-01 00:27:23,0 days 00:06:25.000000000
99,99,5169,9,20150101,2015-01-01 00:21:07,60,20150101,2015-01-01 00:24:13,0 days 00:03:06.000000000

In [25]:
test = df.head(1000).copy(deep=True)

In [36]:
#실수해서 datetime --> string으로 다시 바꿔야 할 때 코드. 

for i in ['dept_time', 'arr_time']:
    df[i] = df[i].apply(lambda x: x.strftime("%y%m%d"))

In [41]:
# 실수해서 str타입 변수 뒤에 붙은거 뜯어낼 때 쓰는 코드. 

df["dept_time"] = df['dept_time'].map(lambda x: x.rstrip('dept_time'))
df['arr_time'] = df['arr_time'].map(lambda x: x.rstrip('arr_time'))